body, html {
    height: 100%;
}


.black-transparent {
    background-color: rgba(0,0,0,0.5)
}


h1  {
    font-family: 'Roboto', sans-serif;
    font-size: 11vh;
    font-size: 6vw;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 10vh;
    font-size: 3vw;
    padding: 2% 2% 2% 2%;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 10vh;
    font-size: 4vw;
    padding: 1% 1% 1% 1%;
}


p {
    font-family: 'Roboto', sans-serif;
    font-size: 10vh;
    font-size: 2.25vw;
}

.yellowtext {
    color: gold;
}


.hs-img1 { 
    /* The image used */
    background-image: url("/img/flag.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hs-img2 { 
    /* The image used */
    background-image: url("/img/sickchild.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hs-img3 { 
    /* The image used */
    background-image: url("/img/redshirtkid.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hs-img4 { 
    /* The image used */
    background-image: url("/img/hospital.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hs-img5 { 
    /* The image used */
    background-image: url("/img/woman.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hs-img6 { 
    /* The image used */
    background-image: url("/img/stress.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-img1 { 
    /* The image used */
    background-image: url("/img/healthcheckfs.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-img2 {
    /* The image used */
    background-image: url("/img/donate.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-img3 { 
    /* The image used */
    background-image: url("/img/redshirtkid.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-img4 { 
    /* The image used */
    background-image: url("/img/happykids2.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-img5 { 
    /* The image used */
    background-image: url("/img/sunflower.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.fs-img6 { 
    /* The image used */
    background-image: url("/img/highschool.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Full screen video */
/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #504f4f;
    color: black;
}




